body {
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .topnav {
    background-color: #2f2626;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: 990033;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #c5aa6a;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

div img {
  height: 100px;
  width: 100px;
  padding-top:10px;
}

.me {
  max-width:900px;
  height: 500px;
  margin: 60px auto;
  text-align: center;
}

.sc {
  border: 10px pink dashed;
  padding-top: 5px;
  height: 400px;
  width: 300px;
  display: inline-block;
}

.sc {
  border: 10px #f8a6c2 dashed;
  border-radius: 13px;
  padding-top: 0px;
  height: 400px;
  width: 300px;
  display: inline-block;
}

.sc:nth-of-type(odd) {
  margin-right: 50px;
}

.rt {
  font-size:30px;
  font-family: 'Passion One', cursive;
  margin-bottom: 8px;
}

.u {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

a:link {
  text-decoration: none!important;
}

h1 {
  text-align: center;
  margin-top: 60px;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  background-image: linear-gradient(to right, #870000, #190a05);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
    margin-top: -20px;
  } 
  .ee {
    max-width:500px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    padding-top:-0px;
  }

  @media screen and (max-width: 600px) {
    div img {
      height: 60px;
      width: 60px;
      padding-top:10px;
    }
    .me {
      max-width:900px;
      height: 500px;
      margin: 60px auto;
      text-align: center;
    }
    
    .sc {
      border: 10px pink dashed;
      height: 300px;
      width: 150px;
      display: inline-block;
    }
    
    .sc {
      border: 10px #f8a6c2 dashed;
      border-radius: 13px;
      padding-top: 0px;
      height: 300px;
      width: 150px;
      display: inline-block;
    }
    .rt {
      font-size:20px;
      font-family: 'Passion One', cursive;
      margin-bottom: 20px;
    }
    
    .u {
      font-family: 'Times New Roman', Times, serif;
      margin-top: 7px;
      color: black;
      font-weight: normal;
      font-size: 13px;
    }
    .sc:nth-of-type(odd) {
      margin-right: 8px;
    }
  } 