body {
    background: #d9a7c7;  /* fallback for old browsers */
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .topnav {
    background-color: #2f2626;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: 990033;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #c5aa6a;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  div img {
      height:100px;
      width:100px;
  }

  .ee {
    max-width:900px;
    height: 700px;
    margin: 0px auto;
    text-align: center;
    padding-top:30px;
    display: flex;
    justify-content: center;
  }

  .body {
    height: 300px;
    width: 600px;
    display: inline-flex;
  }
  
  .body1 {
    height: 350px;
    width: 600px;
    display:inline-flex;
  }


  .es {
      border:  10px solid;
      border-image:linear-gradient(45deg,red,blue) 10;
      border-radius: 15px;
      width: 300px;
      height: 250px;
      margin: 25px;
      padding-top:20px;
      padding-bottom: 20px;
      display: inline-block
  }

  .level {
      font-size:30px;
      font-family: 'Passion One', cursive;
      margin-bottom: 10px;
      margin-top: 20px;
      font-weight: normal;
  }

  .title {
    text-align: center;
    padding-top: 50px;
    font-family: 'Mate SC', serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bolder;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
    margin-top: -20px;
  } 
  .ee {
    max-width:500px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    padding-top:-0px;
  }

  .body {
    height: auto;
    width: auto;
    display:inline-block;
    margin-right:-20px;
  }
  
  .body1 {
    height: auto;
    width: auto;
    display:inline-block;
    margin-left:-20px;
  }
  .es {
    border:  5px solid;
    border-image:linear-gradient(45deg,red,blue) 10;
    border-radius: 15px;
    width: 160px;
    height: 120px;
    /* margin: 25px;
    padding-top:20px; */
    display: inline-block;
    margin-bottom: -15px;
}
 div img {
   width:50px;
   height:50px;
   margin-top: -10px;
 }
 .level {
  font-size:19px;
  font-family: 'Passion One', cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: lighter;
}

p {
  font-size: 14px;
  margin-top: 10px;
  font-family: f;
}

  
  }