body {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: #2f2626;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: 990033;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #c5aa6a;
  color: white;
}

.topnav .icon {
  display: none;
}

.body {
    border:  10px solid navy;
    border-radius: 15px;
    width: 480px;
    height: 520px;
    padding: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;
    margin: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


.first {
  background-image: radial-gradient( circle 602px at 2.1% 5.1%,  rgba(233,0,120,1) 0%, rgba(0,0,0,1) 90.1% );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
}

.pic img {
  height:150px;
  width:150px;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content {
  text-align: justify;
  text-indent: 30px;
  line-height: 1.5;
  font-size: 17px;
  font-family: 'Acme', sans-serif;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  @media screen and (max-width: 600px) {
    .body {
      border:  8px solid navy;
      border-radius: 15px;
      width: 250px;
      height: 530px;
      padding: 50px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0px;
      margin: 20px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
  }
  .first {
    background-image: radial-gradient( circle 602px at 2.1% 5.1%,  rgba(233,0,120,1) 0%, rgba(0,0,0,1) 90.1% );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 13px;
  }
  
  .pic img {
    height:120px;
    width:120px;
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .content {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'Acme', sans-serif;
  }
    }
    

